{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="container">
    <div style="margin-top: 200px;"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="">
                <div class="form-group">
                    <label>Text</label>
                    <input type="text" class="form-control" placeholder="">
                </div>
                <div class="">
                    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first element</a>
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse mt-2" id="multiCollapseExample1">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <form role="form" method="post" action="">
                                            {{ form.hidden_tag() }}
                                            <div class="input-group mb-3">
                                                {{ form.username(placeholder="Username", class="form-control") }}
                                            </div>
                                            <div class="input-group mb-4">
                                                {{ form.password(placeholder="Password", class="form-control", type="password") }}
                                            </div>
                                            <div class="form-group text-left">
                                                <div class="checkbox checkbox-fill d-inline">
                                                    <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                                                    <label for="checkbox-fill-a1" class="cr"> Save Details</label>
                                                </div>
                                            </div>
                                            <button type="submit" name="login" class="btn btn-primary shadow-2 mb-4">Login</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="alert" role="alert">这是一段话</div>
            <div class="alert" role="alert">这是一段话这是一段话</div>
            <div class="alert" role="alert">这是一段话这是一段话这是一段话</div>
            <div class="alert" role="alert">这是一段话这是一段话</div>
            <div class="alert" role="alert">这是一段话</div>
        </div>
    </div>
</div>


{% endblock content %}
