{% extends "layouts/base.html" %}

{% block title %} Chat {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="main-body">
    <div class="container-fluid">
        <div class="row" style="margin-top: 80px;">
            <div class="col-md-8 text-left" id="chatroom-wrapper">
                <div class="form-group">
                    <input id="keyword" type="text" class="form-control" placeholder="输入一段话" autocomplete="off" value="">
                </div>
                <div id="chatroom"></div>
            </div>
            <div class="col-md-4 text-left">
                <div id="tags" class="form-group"></div>
            </div>
        </div>
    </div>
<!--    <div class="container-fluid fixed-bottom">-->
<!--        <div class="row">-->
<!--            <div class="col-md-9 text-left">-->
<!--            </div>-->
<!--            <div class="col-md-3 text-center"></div>-->
<!--        </div>-->
<!--    </div>-->
</div>

<script src="/static/assets/js/chat.js"></script>

{% endblock content %}
